<div class="empty-hero"></div>

<app-data-slider [frontPageIndex]="1"></app-data-slider>
<app-data-slider [frontPageIndex]="3"></app-data-slider>
<app-data-slider [frontPageIndex]="4"></app-data-slider>
<app-data-slider [frontPageIndex]="5"></app-data-slider>
<app-data-slider [frontPageIndex]="6"></app-data-slider>
<app-data-slider [frontPageIndex]="7"></app-data-slider>
<app-data-slider [frontPageIndex]="8"></app-data-slider>
<app-data-slider [frontPageIndex]="9"></app-data-slider>
<app-data-slider [frontPageIndex]="10"></app-data-slider>
<app-data-slider [frontPageIndex]="11"></app-data-slider>
<app-data-slider [frontPageIndex]="12"></app-data-slider>
<app-data-slider [frontPageIndex]="13"></app-data-slider>
<app-data-slider [frontPageIndex]="14"></app-data-slider>
<app-data-slider [frontPageIndex]="15"></app-data-slider>
<app-data-slider [frontPageIndex]="16"></app-data-slider>
<app-data-slider [frontPageIndex]="17"></app-data-slider>
<app-data-slider [frontPageIndex]="19"></app-data-slider>
<app-data-slider [frontPageIndex]="20"></app-data-slider>
