// CSS reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primary: rgb(23, 37, 84);
  --secondary: rgb(29, 78, 216);
  --tertiary: rgb(239, 246, 255);

  --accent: rgb(251, 191, 36);

  --black: rgb(2, 6, 23);
  --white: rgb(248, 250, 252);

  --opacity-high: 0.25;
  --opacity-full: 0;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/rubik.ttf");
}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html {
  background-color: var(--primary);
  font-family: "Rubik", Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  color: var(--white);
}
