<div class="container">
  <nav class="navigation">
    <div class="logo">
      <img src="{{ logo }}" />
    </div>
  </nav>
  <div class="icons-container">
    <button class="button">
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
      ></mat-icon>
      {{ buttonText }}
    </button>

    <mat-icon
      class="icon"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="menu"
    ></mat-icon>
  </div>
</div>
